.info {
    background-color: $color-black-4;
    text-align: center;
    color: $color-white-0;
    font-size: $fs-5;
    .info__contain {
        .info__column {
          
            .info__content {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: $mg-4;
                p {
                    margin-bottom: 0;
                    letter-spacing: 2px;
                    font-size: $fs-5;
                }
                i {
                    padding-right: $pd-1;
                }
            }
        }  
        h3 {
            margin-bottom: 0;
            @include textStyle($color-white-0, $fs-1, $fw-0);
            letter-spacing: 1px;
        } 
    }
    @include responsive("large") {
        .info__contain {
            .info__column {
                margin-bottom: 12px;
                .info__content {
                    p {
                        font-size: 26px;
                    }
                }
            }
        }
    };
    @include responsive("small") {
        .info__contain {
            .info__column {
                margin-bottom: 0;
                padding: 30px 0;
            }
        }
    }
}