.slider {
    background: url("../../img/slider.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    .slider__content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        h3 {
            @include textStyle($color-white-0, $fs-3, $fw-2);
            letter-spacing: 5px;
            line-height: normal;
            margin-bottom: $mg-0 + 8;
        }
        p {
            @include textStyle($color-white-0, $fs-2, $fw-1);
            letter-spacing: 6px;
        }
    }
    @include responsive("large") {
        
            .slider__content {
                width: 100%;
                h3 {
                  font-size: 30px;
                  margin-bottom: 0;
                }
                p {
                    font-size: 18px;
                }
            }
        
    }
}
